<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suggested Trail Edit</title>
    <style>
      .container {
        width: 80%;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #34423b;
      }

      p {
        line-height: 1.4;
        font-size: 1.1rem;
        color: #34423b;
      }

      span,
      h2 {
        color: #fe7762;
      }

      a {
        text-decoration-color: #fe7762;
      }

      h1 > a {
        text-decoration: none;
      }

      ul {
        border: 1px solid #333;
        border-radius: 6px;
        padding-bottom: 1rem;
      }

      li {
        list-style-type: none;
      }

      h2 {
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 0;
      }

      .comparison {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .comparison p {
        color: #b1ce7c;
        font-weight: bold;

        margin-bottom: 0.5rem;
      }

      .comparison div {
        margin-right: 1rem;
        margin-top: 0;
      }

      @media only screen and(max-width: 900px) {
        .container {
          width: 100%;
          padding: 0.5rem 0 0 1rem;
        }

        h1 {
          font-size: 1.1rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="http://localhost:3000"><span>TrailScout</span></a> Request to
        Edit Trail
      </h1>

      <p>Summary of Requested Changes</p>
      <div>
        <ul>
          <% for(const key in differences) { %> <% if (key === "trailId" || key
          === "userId") { %>
          <li>
            <div>
              <h2><%= key %></h2>
              <%= differences[key].edit %>
            </div>
          </li>
          <% } else { %>
          <li>
            <h2><%= key %></h2>
            <div class="comparison">
              <div>
                <p>Current</p>
                <%= differences[key].original %>
              </div>
              <div>
                <p>Changes</p>
                <% if (differences[key].edit !== undefined){ %> <%=
                differences[key].edit %> <%} else { %> none <% } %>
              </div>
            </div>
          </li>
          <% } %>
          <br />
          <% } %>
          <li>
            <div>
              <h2>Username</h2>
              <%= user.username %>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <p>
          Please review the above suggestions and update the database
          accordingly.
        </p>
      </div>
      <p>
        Head over to
        <a href="http://localhost:3000"><span>TrailScout</span></a>
        to discover your next adventure!
      </p>
      <p>Trek on! 🚵 🥾 🏞</p>
    </div>
  </body>
</html>
